<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      (<a href="/<%= file %>/edit">Edit</a>)
      <form action="/<%= file %>/delete" method="post" class="inline">
        <button type="submit" name="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">New document</a></p>
<p>
  <% if session[:signed_in_user] %>
    <form action="/users/signout" method="post" class="inline">
      <em>Signed in as <%= session[:signed_in_user] %></em>
      <button type="submit" name="signout">Sign out</button>
    </form>
  <% else %>
    <p>
      You're signed off.
      <a href="/users/signin"><button>Sign in</button></a>
    </p>
  <% end %>
</p>
