<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      (<a href="/<%= file %>/edit">Edit</a>)
      <form action="/<%= file %>/delete" method="post" class="inline">
        <button type="submit" name="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">New document</a></p>
<p>
  <form action="/users/signout" method="post" class="inline">
    <em>Signed in as <%= session[:signed_in_user] %></em>
    <button type="submit" name="signout">Sign out</button>
  </form>
</p>
